{% extends 'base.html' %}

{% block head %}
<title>Kuba's Sensors</title>
{% endblock %}


{% block body %}
<!-- <h1>Hi there! Soon There will be some Sensor Data...</h1> -->

<div class="content">
    <h1 style="text-align: center;">Update Measurment</h1>

    <form action="/update/{{ measurment.id }}" method="POST">
        <table>
            <td>
                <label>Temperature:</label>
                <label>Humidity:</label>
            </td>
            <td>
                <input type="number" name="temp" value="{{ measurment.temperature }}">
                <input type="number" name="hum" value="{{ measurment.humidity }}">
            </td>
        </table>
        <input type="submit" value="Update">
    </form>
    
</div>
{% endblock %}